
/////////////////////////////////////////////SPINNER LOTUS ///////////////////////////
$circleColor1: rgba(17, 231, 10, 0.685);
$orbiterColor:rgb(194, 207, 5);
$transZ:90px;
.spinner-container {
    width: 860px;
    height: 860px;
    border: 2px solid green;
    background-color: black;
    margin: 60px auto;
    perspective: 1200px;

    .circle--1 {
        transform-style: preserve-3d;
        transform-origin: 0%;
        height: 240px;
        width: 240px;
        text-align: center;
        border-radius: 100%;
        transition: all 3s;
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $circleColor1;
        animation: rotateCircle 4s 0s infinite linear;

        .orbiter {
            transform-style: preserve-3d;
            &__1 {
                &::before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(90deg) translateX(0%) translateZ(-10px);
                    background-color: $orbiterColor;
                    border-radius: 100%;
                }
                @include orbiter__element($transZ, $orbiterColor, 0s);
            }

            &__2 {
                &::before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(90deg) translateX(0%) translateZ(-10px);
                    background-color: $orbiterColor;
                    border-radius: 100%;
                }
                @include orbiter__element($transZ, $orbiterColor, 2s);
            }
        }
    }

    .circle--2 {
        transform-style: preserve-3d;
        transform-origin: 0%;
        height: 240px;
        width: 240px;
        text-align: center;
        border-radius: 100%;
        transition: all 3s;
        position: absolute;
        top: 50%;
        left: 50%;
       background-color:$circleColor1;
        animation: rotateCircle 4s 0s infinite linear reverse;
    
        .orbiter {
            &__3 {
                &::before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(90deg) translateX(0%) translateZ(-10px);
                    background-color: $orbiterColor;
                    border-radius: 100%;
                }
                @include orbiter__element($transZ, $orbiterColor, 0s );
            }

            &__4 {
                &::before{
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(90deg) translateX(0%) translateZ(-10px);
                    background-color: $orbiterColor;
                    border-radius: 100%;
                }
                @include orbiter__element($transZ, $orbiterColor, 2s);
            }
        }
    }

    a {
        display: inline-block;
        position: absolute;
        top: 22%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2rem;
        animation: textGlow 1s infinite linear;
    }
}

//////////////////////////////////////
@keyframes rotateCircle {
    0% {
        transform: rotateY(0) rotateX(45deg) translate(-50%, -50%);
    }

    100% {
        transform: rotateY(360deg) rotateX(45deg) translate(-50%, -50%);
    }
}

@keyframes textGlow {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes upDown {
    0% {
        transform:  translateZ($transZ) translateY(100px) translateX(100px);
    }
50%{
    transform:translateZ($transZ) translateY(150px)  translateX(150px);;
}
100%{
    transform:translateZ($transZ) translateY(100px)  translateX(100px);;
}
}